h1{
    color: rgb(42, 162, 209);
    background-color: rgb(226, 240, 35);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color: honeydew;
    background-color: rgb(21, 167, 21);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}